/* CSS Document */

/* footer Element --- */

footer {
	font-family: lato;
	
	display: block;
	position: relative;
	
	background-color: #000000;
	
	color: #ffffff;	
	
	height: auto;
	width: 100%;
	
	margin: 0;
	padding: 9px 0px;
}
.footer_logo {
	border: solid red 1px;
	
	height: inherit;
	text-align: right;
	
	margin: inherit;
	padding: 0px 9px;
}
footer nav {
	display: block;
	position: relative;
	
	height: 75%;
	width: 50%;
}
footer ul {
	display: list-item;
	position: inherit;
	padding: 1px 0px;
}
footer li {
	display: inherit;
	position: inherit;
	
	margin: 0px 0px;
	padding: 3px 9px;
}
footer p {
	display: inherit;
	
	
	text-align: center;
	color: #ffffff;
	
	margin-top: 16px;
}
footer p a {
	color: #ffffff;
}
