/* CSS Document */

/* footer Element --- */

footer {
	font-family: lato;
	
	display: block;
	position: relative;
	
	background-color: #eeeeee;
	
	color: rgba(51,51,51,1.00);	
	
	height: auto;
	width: 100%;
	
	margin: 0;
	padding: 9px 0px;
}
.footer_logo {
	text-align-last: center;
	
	height: inherit;
	text-align: left;
	
	margin: inherit;
	padding: 0px 9px;
}
footer nav {
	display: inline;
	position: relative;
	
	height: 75%;
	width: 50%;
}
footer ul {
	
	font-weight: 400;
	
	position: inherit;
	padding: 1px 0px;
}

#menu_title {
	font-weight: 500;
}

footer li {
	display: block;
	position: inherit;
	
	margin: 0px 0px;
	padding: 3px 0px;
}
footer p {
	display: inherit;
	
	text-align: center;
}
/* p .navigation-link-item */
.footer-navigation-item {
	display: block;
	position: relative;
	
	color: rgba(17, 17, 17, 1.0);
}
/* a .footer-navigation-link */
.footer-navigation-link {
	display: inline;
	position: relative;
	
	margin: 0px;
	padding: 0px;
}
#copyright {
	
	color: rgba(51,51,51,1.0);
	font-size: 1.0rem;
}

