/* CSS Document */

article {
	text-align: center;
	
	display: block;
	position: relative;
	
	height: auto;
	width: 100%;
	max-width: 100%;
	
	margin: 0;
}
article p {
	line-height: 1.6em;
}
#article_one {
	border: hidden red 1px;
}
#article_two {
	border: hidden black 1px;
}
#article_two_entry {
	border: hidden purple 1px;
	align-content: center;
	
	font-size: 16px;
	line-height: 1.6em;
	
	height: 200px;
	
	margin: 0;
}
/* section element > */
section {
	border: hidden green 1px;
	
	text-align: center;
	align-content: center;
	align-items: center;
	
	display: block;
	position: relative;
	
	height: auto;
	width: 100%;
	
	margin: 0px;
	padding: 9px 0px;
}
img {
	width: auto;
	max-width: 900px;
	
	padding: 3px 0px;

}
/* section > #portrait-section //adapt into "section" element; excluding backgroung attribute; */
#portrait-section {
	color: #ffffff;
}