/* CSS Document */

img {
	display: block;
	position: relative;
}
article {
	text-align: center;
	
	display: block;
	position: relative;
	
	height: auto;
	width: 100%;
	max-width: 100%;
	
	margin: 0;
}
article p {
	line-height: 1.6em;
}
#article_one {
	border: hidden red 1px;
}
#article_two {
	border: hidden black 1px;
}
#article_two_entry {
	border: hidden purple 1px;
	align-content: center;
	
	font-size: 16px;
	line-height: 1.6em;
	
	height: 200px;
	
	margin: 0;
}
/* section element > */
section {
	border: hidden green 1px;
	
	display: block;
	position: relative;
	
	height: 160px;
	width: 100%;
}
/* section > #portrait-section //adapt into "section" element; excluding backgroung attribute; */
#portrait-section {
	color: #ffffff;
	
	background-image: url(../images/IMG_7160.jpg);
	backgroung-size: cover;
	background-repeat: no-repeat;
}