/* CSS Document */

main {
	align-items: center;
	justify-content: center;
}

/* .image_section; section.image_section > h2.image_title > div.image_container > img. */
section.image_section {
		
	text-align: center;
	
	display: block;
	position: relative;
	
	align-items: center;
	justify-content: center;
	
	height: auto;
	max-height: 310px;
	width: 100vw;
	
	margin: 16px 0px;
	
	box-shadow: 9px 9px 16px #888;
}
section p {
	line-height: 1.6em;
}

#section_two_entry {
	border: hidden purple 1px;
	align-content: center;
	
	font-size: 16px;
	line-height: 1.6em;
	
	height: 200px;
	
	margin: 0;
}

/* #portrait_image_wrapper; div.image_wrapper #portrait_image_wrapper > img. */

#portrait_gallery {
	background-image: url("../images/galleryContent/portrait-images/2017-10-10 21.35.16-3.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
	height: 310px;
}

div.image_wrapper {
	
	text-align: center;
	justify-content: center;
	align-items: center;
	
	display: block;
	position: relative;
	
	height: inherit;
	width: 100%;
}

img {
	width: 100%;
}

div.image_caption {

	background: #ffffff;
	
	display: block;
	position: relative;

	width: 100%;
}

.btn {
	display: inline-block;
	
	color: #333;
	text-decoration: none;
	
	background: #f4f4f4;
	
	border: 0.9px solid #888;
	border-radius: 2.0rem;
	
	
	margin: 0.9rem;
	padding: 0.2rem 0.9rem;
	
	transition: background 900ms ease;
}

.btn:hover {
	background: rgba(51,51,51,0.5);
}

/* section > #portrait-section //adapt into "section" element; excluding backgroung attribute; */
#portrait-section {
	color: #ffffff;
}