/* CSS Document */

/* Header Element // Header Attribute; header. > nav. > ul > li > a */
header {
	
	/* Font Detail */
	font-family: lato;
	font: thin;
	text-align: center;
    
    /* Attribute Background */
    background-color: rgb(94,92,83),; /* RGB & A Value */
    
    /* Attribute Detail */
    display: block;
	box-shadow: 0px 9px 16px #888;
    
    /* Attribute Dimensions */
    width: 100%;
    height: auto;
    
    /* Attribute Position */
    position: relative;
    top: 0px;
    left: 0px;
	padding: 0px 0px;
    }

.site_title {
	
	/* development */

	/* font attributes */
	font-size: 0.9rem;
	
	/* attributes */
	text-transform: uppercase;
	
	margin: 0px;
	padding: 0px;
	
}

/* Navigation Attribute */
nav {
	text-align: center;
	
	/* Attribute detail*/
    display: block;
	
	height: auto;
	width: 100%;
	
	position: relative;

	margin: 0;
	padding: 9px 0px;
}

nav ul {
	align-content: center;
    display: block;
	height: inherit;
    width: 100%;
	margin: 0px;
	padding: 0px;
	position: inherit;
}

header nav li {
	text-align: center;
	
	font-size: 1.0rem;
	
	/* Development */
	border: hidden 1px blue;
	
    display: inline-block;
    color: rgba(0, 0, 0, 1.0);
	width: auto;
    
    /* Font Detail */
    
    /* Attribute Detail */
    
    /* Attribut Position */
    margin:  0px;
    padding: 0px 9px;
	position: inherit;
}

nav a:hover{
    
    /* Attribute Detail */
    color: rgba( 0, 0, 0, 1.0);
    
    
    
}

nav a {
    color: rgba(109, 119, 132, 1.0);
    list-style: none;
    text-decoration: none;
    padding: 0px 2px;  
}
