/* CSS Document */

#landing_image {
	/* Font Attributes */
	color: #ffffff;
	font-weight: 500;
	text-align: center;
	
	display: block;
	position: relative;
	
	background-image: url("../images/index-content/Hiring-a-Professional-Photographer-1080x500 (1).jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
	/* Element Dimensions */
	height: 30vh;
	width: 100%;
	
	margin: 0;
	padding: 9px 0px;
}

#landing_text {
	display: block;
	
	width: 100%;
	height: 50vh;
	
	justify-content: center;
	align-items: center;
	text-align: center;
}

article {
	text-align: center;
	
	display: block;
	position: relative;
	
	height: auto;
	width: 100%;
	max-width: 100%;
	
	margin: 0px;
	padding: 16px 0px;
}
article p {
	line-height: 1.6em;
}
#article_one {
	border: hidden red 1px;
}
section {
	border: hidden green 1px;
	
	display: block;
	position: relative;
	
	height: auto;
	width: 100%;
}
#article_two {
	border: hidden black 1px;
}
#article_two_entry {
	border: hidden purple 1px;
	align-content: center;
	
	font-size: 16px;
	line-height: 1.6em;
	
	height: 200px;
	
	margin: 0;
}