/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
	font: normal;
	font-family: lato;
}

/* html Element */

html {
	height: 100%;
	width: 100%;
	
	font-family: lato;
	font-size: 16px;
	
	margin: 0;
	padding: 0;
}

/* navigation link attributes */
a {
	text-decoration: none;
}
li {
	position: relative;
	
	list-style-type: none;
}

/* Body Element */

body {
	display: block;
	
	height: 100%;
	max-height: 100%;
	width: 100%;
	
	font: inherit;
	
	margin: 0px;
    background-color: rgba(255, 255, 255, 1.0);
}
/* main element: */
#introBio {
	position: relative;
	
	font-size: 16px;
	line-height: 1.6em;
	
	/* development */
	border: hidden red 2px;
	padding: 0px;
	margin: 0px;
}
#copyright {
	display: block;
	position: relative;
	
	text-align: center;
	
	margin: 9px 0px;
}

#instagram_embedded_wrapper {
	display: block;
	position: relative;
	align-content: center;
	align-text: center;
	perspective-origin: center;
	
}